
    .active{
        border-bottom:2px solid white;
    }
    .fix{
position: fixed;
width: 100%;
top: 0;
left: 0;

    }
   
    .cont{
        padding-top:60px;
    }
    .myimg{
width:300px;
height:300px;
object-fit:cover;
opacity:0.7
}
.myimg:hover{
opacity:1.0;
}
